﻿@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
       .font, div, span, button, table,thead, tr,th,tbody,td, h1,h2,h3{
            font-family: 
                'Freehand521 BT';
                /*Forte;*/
                /*'EngraversGothic BT';*/
                /*'Edwardian Script ITC';*/
                /*'Brush Script MT';*/
                /*'Bradley Hand ITC';*/
                /*'Blackadder ITC';*/ 
                /*'Arial Rounded MT';*/
                /*'Berlin Sans FB';*/
        }
       input[type="text"], .font-input {
           font-family:'Berlin Sans FB';
       }
       .color-heading{
           color:#ffd5d5;
       }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#640808">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#1E0000">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("#hash", "Index", "Profile", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   @{
                       if (!ConfigurationManager.AppSettings["Username"].Equals(""))
                       {
                        <li>@Html.ActionLink("#hashtags", "Hashtags", "Profile")</li>
                        <li>@Html.ActionLink("#myprofile", "UserProfile", "Profile")</li>
                        <li>@Html.ActionLink("#logout", "LogOut", "Profile")</li>
                       }

                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
     </div>
<footer>
    <br />
    <br />
    <br />
</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
