﻿@model IEnumerable<Moviegram.Models.HashtagGram>

<h1 class="font color-heading" style="text-align:center">#hashtags</h1>
<br />
<div class="col-lg-2 col-md-2"></div>
<div class="col-lg-8 col-md-8">
<table class="table table-hover">
    <thead>
        <tr>
            <th class="color-heading" style="font-size:16px">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="color-heading" style="text-align:right; font-size:16px">
                Posts No.
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(x => x.Posts.Count).ToList())
        {
            <tr>
                <td>
                    @Html.ActionLink(linkText: item.Name, actionName: "OpenHashtagByName", controllerName: "Profile", routeValues: new { hashtagName = item.Name }, htmlAttributes: new { style="font-size:16px" })
                </td>
                <td class="color-heading" style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Posts.Count)
                </td>
            </tr>

        }
    </tbody>

</table>
</div>
<div class="col-lg-2 col-md-2"></div>
