﻿@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <div class="jumbotron" style="background-color:transparent">
        <h1 style="text-align:center; color:#ffd5d5!important" class="font">#hash</h1>
        <p class="color-heading" style="text-align:center; margin-top:30px">
            Place where you can gossip about everything you want!
        </p>
    </div>

    <div class="col-md-12 col-lg-12" style="margin-top:-20px;">
        <div class="col-md-4 col-lg-4"></div>

        <div class="col-md-4 col-lg-4">

            <hr />
     
     
                <div class="form-group" >
                    <label class="control-label col-md-4 color-heading" style="font-size:16px"> #Username: </label>
                    <div class="col-md-6" align="right" style="width:65%">
                        <input class="form-control " type="text" name="username" />
                    </div>
                </div>

                <div class="form-group" >
                    <label class="control-label col-md-4 color-heading" style="font-size:16px"> #Password: </label>
                    <div class="col-md-6" align="right" style="width:65%">
                        <input class="form-control" type="password" name="password" />
                    </div>
                </div>
                <br />
                <div class="col-md-12 col-lg-12" align="right">
                        <input type="submit" value="#Login" class="btn btn-success" />

                        <input type="button" value="#Signup" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'" />
                </div>
     
        </div>

        <div class="col-md-4 col-lg-4"></div>
    </div>
</div>
}


