﻿@model Moviegram.Models.UserGram

@{
    ViewBag.Title = "UserProfile";
}

<input id="CreatePostUrl" type="hidden" value="@Url.Action("CreatePost", "Profile")" />
<input id="UpdateProfileBio" type="hidden" value="@Url.Action("UpdateProfileBio", "Profile")" />
<input id="ProfileUrl" type="hidden" value="@Url.Action("UserProfile", "Profile")" />
<input id="CommentUrl" type="hidden" value="@Url.Action("CreateComment", "Profile")" />
<input id="deletePost" type="hidden" value="@Url.Action("DeletePost", "Profile")" />

<div class="col-md-12">
    <div class="col-md-9 col-lg-9" style="float:left">
        
        <div class="col-md-8 col-lg-8 for m-group" style="margin-top:20px;width:100%; max-width:100%">
            <label class="color-heading" style="font-size:18px">New post: </label>
            <textarea id="postText" class="font-input form-control" rows="3" style="width:100%; max-width:100%"></textarea>
            <br />
            <button id="createPost" class="btn btn-success" style="float:right" >Post this</button>
            <input id="addHashtags" placeholder="type hashtag and press enter" type="text" class="form-control input-sm" style="width:200px" />
            <div id="hashtags" style="margin-top:10px"></div>
            <br />
            <br />
            <hr />

            @{ 
                Model.Posts.Reverse();
                foreach (var post in Model.Posts)
                {
                    <div class="media" style="background-color:#AA3939; padding:20px;">
                        <div class="media-body">
                            <h3 class="font media-heading">
                            <span onclick="deletePost('@post.PostId.ToString()')" class="color-heading" style="float:right">x</span>
                            @post.OwnerUsername</h3>
                            @{
                                <p>
                                    @foreach (var hashTag in post.Hashtags)
                                    {
                                        @Html.ActionLink(linkText: hashTag, actionName: "OpenHashtagByName", controllerName: "Profile", routeValues: new { hashtagName = hashTag }, htmlAttributes: null)
                                        @Html.Raw("&nbsp")
                                    }
                                </p>

                            }
                            <p class="font-input" style="margin-left:50px">@post.Body</p>
                            <p>@post.Likes.Count Votes @Html.ActionLink(linkText: "Vote", actionName: "LikePost", controllerName: "Profile", routeValues: new { postId = post.PostId.ToString() }, htmlAttributes: null)</p>
                            <div>
                                @{
                                    foreach (var comm in post.Comments)
                                    {
                                        <div class="media" style="margin-left:150px; background-color:#F08C8C; padding:10px">
                                            <div class="media-body">
                                                Reply from:
                                                <h3 class="font media-heading" style="margin-left:50px">@comm.OwnerUsername</h3>
                                                <p class="font-input" style="margin-left:100px">@comm.Text</p>

                                            </div>
                                        </div>
                                    }
                                    <textarea id="@post.PostId" class="font-input form-control" rows="3" style="margin-top:20px; margin-left:150px; width:86%; max-width:100%"></textarea>
                                    <br />
                                                    <button class="btn btn-primary" style="float:right" name="@post.OwnerId" onclick="comment('@post.OwnerId.ToString()', '@post.PostId.ToString()')">
                                                        Comment
                                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-md-3 col-lg-3" style="float:right">
        @*<div style="width:100%; margin-top:30px;">
            <img style="float:right" id="image" src="http://lorempixel.com/100/100" />
        </div>
        <div>
            <input id="profile_photo" style="display:none" type="file" placeholder="Photo" />
        </div>*@
        <div>
            <h2 class="font color-heading" id="username">@Model.Username</h2>
        </div>
        <div class="color-heading" style=" margin-top:20px">
            @Html.DisplayFor(model => model.FullName)
        </div>
        <div id="bioDiv" style="margin-top:10px">
            <div id="bio">
                <span class="font-input color-heading" id="biospan">@Html.DisplayFor(model => model.Bio)</span>
                <a id="editBio"><span style="color:green" class="glyphicon glyphicon-pencil"></span></a>
            </div>
            <div id="bioInput">
                <input class="font-input" style="width:100%" id="bioText" type="text" />
                <a id="saveBio"><span style="color:green" class="glyphicon glyphicon-floppy-save"></span></a>
                <a id="closeBio"><span style="color:green" class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    </div>
</div>

@section scripts{
   
<script>
    $(document).ready(function () {

        $('#bioInput').hide();
        var prevText;
        var list = Array();

        $('#addHashtags').on('keypress', function (e) {
            if (e.keyCode == 13) {
                var text = $('#addHashtags').val();
                if (text.startsWith('#'))
                    list.push(text);
                else {
                    text = '#' + text;
                    list.push(text);
                }

                $('#addHashtags').val("");
                console.log(list);

                refreshTags();
            }
        });

        removeTag = function (index) {
            list.splice(index, 1);
            refreshTags();
        };

        refreshTags = function () {
            var divHashtags = $('#hashtags');
            divHashtags.html("");
            list.forEach(elem => {
                divHashtags.append("<p class='badge' style='font-family:arial' onclick='removeTag(" + list.indexOf(elem) + ")'>" + elem + "</p> &nbsp");
            })

        };

        $('#createPost').on('click', function () {
            var url = $('#CreatePostUrl').val();
            var text = $('#postText').val();

            $.ajax({
                method: "POST",
                url: url,
                data: { postText: text, hashtags: list },
                success: function (result) {
                    console.log("ode");
                    list = Array();
                    refreshTags();
                    $('#postText').val("");
                    location.reload();
                }
            });

        });

        $('#image').on('click', function () {
            $('#profile_photo').click();
        });

        $('#editBio').on('click', function () {
            var text = $('#biospan').html();
            $('#biospan').html("");
            $('#bio').hide();

            var input = $('#bioInput');

            $('#bioText').val(text);
            prevText = text;
            input.show();
        });

        $('#saveBio').on('click', function (e) {
            var username = $('#username')["0"].innerText;
            var url = $('#UpdateProfileBio').val();
            var text = $('#bioText').val();
            var urlprofile = $('#ProfileUrl').val();

            $.ajax({
                method: "POST",
                url: url,
                data: { bio: text },
                success: function (result) {
                    if (result === "error") {
                        location.reload();
                    }
                    else {
                        $('#bioInput').hide();
                        $('#biospan').html(text);
                        $('#bio').show();
                        location.reload();
                    }
                }
            });

        });

        $('#closeBio').on('click', function (e) {
            $('#bioInput').hide();
            $('#biospan').html(prevText);
            $('#bio').show();
        });


        comment = function (x, idPost) {
            var url = $('#CommentUrl').val();
            var urlprofile = $('#ProfileUrl').val(); 

            var textarea = $('#' + idPost);
            var text = textarea.val();

            $.ajax({
                method: "POST",
                url: url,
                data: { comment: text, ownerId: x, postId: idPost },
                success: function (result) {
                    if (result == "ok") {
                        location.reload();
                    }
                }
            });
            
        };

        deletePost = function (id) {
            var url = $('#deletePost').val();

            console.log(id);
            $.ajax({
                method: "POST",
                url: url,
                data: { postId: id },
                success: function (result)
                {
                    location.reload();
                }
            });
        };

    });

</script>

}